<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <p>Enter a character and an integer and I'll create a pyramid from those</p>
 
    <form action="" method="post">
        <p>
            <label for="char">Character</label>
            <input type="text" name="char">
        </p>
        <p>
            <label for="num">Number</label>
            <input type="text" name="num">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
 
</body>
</html>
